<html>
<head>
</head>
<body>
<h1>RaceFinder</h1>
<h2><%=@location.capitalize! %> Marathon 2015</h2>
<data>
  <ul>
  <li><a href="">Hotels</a></li>
  <li><a href="">Restaurants</a></li>
  <li><a href="">Outfitters</a></li>
  </ul>
</data>
</body>
</html>