<html>
<head>
</head>
<body>
<h1>RaceFinder</h1>
<form>
  <input type='search'></input>
  <input type='submit' value='Search'>
</form>
<h2>Search Results</h2>
<races>
  <ul>
    <li><a href="/events/paris">Paris Marathon 2015</a></li>
    <li><a href="/events/berlin">Berlin Marathon 2015</a></li>
    <li><a href="/events/london">London Marathon 2015</a></li>
  </ul>
</races>
</body>
</html>